:root {
  /*--basic-color: ;*/
  --basic-red:#EE3643;
  --basic-white:#FFFFFF;
  --basic-white-mix:#f3f7f8;
  --basic-orange:#FFBF47;
  --basic-light-orange:#FFC047;
  --basic-blue:#32425C;
  --basic-light-blue:#3BBCE3;
  --basic-dark-blue:#293449;
  --basic-pink:#DC91D8;
  --basic-green:#63A63E;
  --basic-light-green:#8ED78F;
  --basic-h: #f9f5f0;
<<<<<<< HEAD
  --basic-filter-color: #F7F3EC;
  --basic-dark: #000000;
}

=======
  --basic-yellow: #FFD180;
}


>>>>>>> e6bdf4d6d503a6b6fb3ee8b5e0d6430ee2ce5a4d
body {
    
    margin: 0;
    padding: 0;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    background-color: var(--basic-white);
}
body address {
  font-style: normal;
}
/*.main-logo { \\танцы с бубном 
height: 47px;
line-height: 47px;
margin-left: 130px; 
margin-right: 17px;
text-align: center;
width: 220px;
font: inherit;
background: #EE3643;
}*/
.header-number {
  padding-left: 56px;
  padding-right: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  border: 3px solid var(--basic-white);
  width:270px;
  text-align: center;
}
.header-number a {
  color: var(--basic-red);
  font-family: Cuprum;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 30px;
}
.red-text { /* это свойство должно умереть*/
  color: var(--basic-red);
  font-family: Cuprum;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 23px;
 
}
.main-material {
  background-color: var(--basic-orange);
}
.main-material a {
  padding: 10px 24px 10px 23px;
  background: var(--basic-white);
  opacity: 0.3;
}
.main-instr {
background-color: var(--basic-light-blue);
}
.main-instr a {
  padding: 10px 26px 10px 26px;
  background: var(--basic-white);
  opacity: 0.3;
}
.main-teh {
  background-color: var(--basic-pink) ;
}
.main-teh a {
  padding: 10px 31px 10px 30px;
  background: var(--basic-white);
  opacity: 0.3;
}
.main-sale {
  background-color: var(--basic-light-green);
}
.main-sale a {
  padding: 10px 23px 10px 22px;
  background: var(--basic-white);
  opacity: 0.3;
}
.main-delivery {
  background-color:  var(--basic-light-orange);
}
 .main-delivery a {
  padding: 10px 36px 10px 37px;
  background: var(--basic-white);
  opacity: 0.3;
 }
.main-catalog {
  width: 620px;
  height: 266px;
  background-image: url("../img/catalog-perf-clickbait.jpg");
  background-repeat: no-repeat;
}
.main-advantages {
  margin:0;
}

.main-material,
.main-instr,
.main-teh,
.main-sale,
.main-delivery{
width: 300px;
height: 123px;
}


.button-login {
  padding:12px 27px 12px 19px;
text-align: center;
width:121px;
background: var(--basic-white);
font-size: 21px;
line-height: 21px;
}
.button-reg {
  padding:12px 24px ;
text-align: center;
width: 150px;
background:var(--basic-white);
font-size: 21px;
line-height: 21px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .main-intro,
  .main-advantages {
  /* вот серьёзно? каждый цвет добавлять и описывать*/
    background-color: var(--basic-white-mix); /* а понял, узнал про виды записи цветов типо f00/rgb */
  }
  .main-header,
  .main-navigation,
  .main-footer-dark {
    background-color: var(--basic-dark-blue);   
  }
.site-navigation {
    list-style: none;
    
}
  .main-footer-light {
    background-color: var(--basic-blue);
  }

  .main-header a:hover,
  .main-header a:focus, 
  .site-navigation a:hover,
.site-navigation a:focus {
  background-color:var(--basic-green);
}

.site-navigation a,
.main-header a {
  color: var(--basic-white);
}
/*без комментов всё тлен*/
.popul_product {
 background-color: var(--basic-h);
 width: 78%;
 height: 89px;
 color: var(--basic-blue);
}
.main-sec {
  font-size: 30px;
line-height: 30px;
text-transform: uppercase;
}
.main-all-info{
  padding: 11px 26px 9px;
  background-color: var(--basic-red) ;
  color: var(--basic-white);
}
.main-locate{
  padding: 11px 34px 9px;
  background-color: var(--basic-red) ;
  color: var(--basic-white);
}

.main-all-info, 
.main-locate {
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}
<<<<<<< HEAD
/*new*/
.catalog-main-h1 {
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: var(--basic-white-mix);
  font-size: 30px;
  line-height: 30px;
  font-family: Cuprum;
}

.catalog-filter p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0px 10px 18px;
  background-color: var(--basic-filter-color);
}
.catalog-output {
  padding: 39px 20px 39px 48px;
  background-color: var(--basic-filter-color);
  
}
.catalog-sorting {
  background-color: var(--basic-filter-color);
  color: var(--basic-dark);
  font-family: PT Sans;
font-size: 13px;
line-height: 18px;
}
=======
.popul_product_but  {
  padding: 11px 24px 9px;
  background-color: var(--basic-red);
}
.popul_creator_but {
  padding: 11px 38px 9px 39px;
  background-color: var(--basic-red);
}
.footer-nav a {
 color: var(--basic-white);
}
.footer-advantages a {
 color: var(--basic-yellow);
}

.footer-links p {
  color: var(--basic-white);
}
.footer-links a {
  color: var(--basic-yellow);
}
.any_white {
  color: var(--basic-white);
}
.button-left {
  background-image: url(../img/icon-left.svg);
  height: 40px;
  width: 22px;
}
.button-right {
  background-image: url(../img/icon-right.svg);
  height: 40px;
  width: 22px;
}
/*каталог*/
>>>>>>> e6bdf4d6d503a6b6fb3ee8b5e0d6430ee2ce5a4d
